body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(3, 48, 145);
}
#board{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    cursor: pointer;
    position: relative;
}

h1{
    color: royalblue;
}
.tile {
    color: rgb(245, 77, 231);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-border{
    border-right: 0.2em solid silver;
}

.bottom-border{
    border-bottom: 0.2em solid silver;
}

.strike{
    position: absolute;
    background-color: black;
}

.strike-row-1{
    width: 100%;
    height: 4px;
    top: 15%;
}

.strike-row-2{
    width: 100%;
    height: 4px;
    top: 48%;
}

.strike-row-3{
    width: 100%;
    height: 4px;
    top: 83%;
}

.strike-column-1{
    height: 100%;
    width: 4px;
    left: 15%;
}

.strike-column-2{
    height: 100%;
    width: 4px;
    left: 48%;
}

.strike-column-3{
    height: 100%;
    width: 4px;
    left: 83%;
}
.strike-diagonal-1 {
    width: 90%;
    height: 4px;
    top: 50%;
    left: 5%;
    transform: skewY(45.8deg);
}

.strike-diagonal-2 {
    width: 90%;
    height: 4px;
    top: 48%;
    left: 5%;
    transform: skewY(-45deg);
}

#game-over-area {
    text-align: center;
    border: silver 8px solid;
    padding: 50px;
    width: 25%;
    margin-top: 50px;
}
h2{
    color: royalblue;
    font-size: 2em;
    margin-top: 0px;
}
button{
    background-color: transparent;
    color: black;
    text-align: center;
    border-color: silver 3px;
    padding: 15px;
    font-size: 1.5em
}

.hidden{
    display: none;
}

.visible{
    display: block;
}
.x-hover:hover::after{
    content: "X";
    opacity: 0.5;
}
.o-hover:hover::after{
    content: "O";
    opacity: 0.5;
}